// Style for rental page //

.title-rental{
    color: #ff6060;
    font-size: 36px;
    font-weight: 500;
}

.location-rental{
    color: #ff6060;
    font-size: 18px;
    font-weight: 500;
}


.header-profil-rental{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    .left-content-profil-rental{
        .title-rental{
            width: 80%;
            margin-bottom: 5px;
        }
        .location-rental{
            margin-top: 5px;
        }
    }
    .right-content-profil-rental{
        display:flex;
        flex-direction: column;
        .container-profil-host{
            display:flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            width: 100%;
            .host-name{
                color: #ff6060;
                font-size: 18px;
                width:75%;
                text-align:end;
            }
            figure{
                width: 100%;
                .img-host{
                    display:flex;
                    align-items: flex-end;
                    padding: 0;
                    margin: 0;
                    width: 64px;
                    height: 64px;
                    border-radius:64px;
                }  
            }
            
        }
    }   
}

.section-drop-container{
    max-width: 1240px;
    .container-drop-components{
        max-width: 1240px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}



@media screen and (max-width:375px){
    .header-profil-rental{
        display:flex;
        flex-direction: column;
        justify-content:space-between;
        width: 335px;
        margin: auto;
        .left-content-profil-rental{
            width: 335px;
            .title-rental{
                font-size: 18px;
            }
            .location-rental{
                font-size: 14px;
            }
        }
        .right-content-profil-rental{
            width: 335px;
            margin: auto;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            .container-profil-host{
                width: 335px;
                .host-name{
                    color: #ff6060;
                    font-size: 18px;
                    width:75%;
                    text-align:end;
                }
                figure{
                    width: 100%;
                    .img-host{
                        display:flex;
                        align-items: flex-end;
                        padding: 0;
                        margin: 0;
                        width: 64px;
                        height: 64px;
                        border-radius:64px;
                    }  
                }                
            }
        }   
    }

    .section-drop-container{
        width: 335px;
        margin: auto;
        .container-drop-components{
            margin: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 15px;
        }
    }
}
