// Style for rental page //

.title-rental{
    color: #ff6060;
    font-size: 36px;
    font-weight: 500;
}

.location-rental{
    color: #ff6060;
    font-size: 18px;
    font-weight: 500;
}

.container-drop-components{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}