// Banner page a propos //  

.kasa-banner-a-propos {
    border-radius: 25px;
}

@media screen and (max-width: 375px){
    .kasa-header-section2{
        height: 223px;
        margin-bottom: 150px;
        figure{
            height: 223px;
            .kasa-banner-a-propos{
                object-fit: cover;
                height: 223px;
            }
        }
    }
}